.mt-10{
    margin-left: 10px !important;
}

.mt-52{
    margin-left: 52px
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 20px;
  }
  .input-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
  }

  .input-container h2 span{
    color: #8ba045 ;
  }
  input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fafafa;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #4CAF50;
    outline: none;
  }
  button {
    width: 100%;
    padding: 12px;
    background-color: #216a23;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #8ba045;
  }
  .link {
    text-align: center;
    margin-top: 15px;
  }
  
  .link a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
  }
  
  .link a:hover {
    color: #388e3c;
    text-decoration: underline;
  }
  .shortened-url {
    margin-top: 20px;
    text-align: center;
    word-wrap: break-word;
  }
  
  .shortened-url p {
    margin: 0;
    color: #333;
    font-weight: 500;
  }
  
  .shortened-url a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .shortened-url a:hover {
    color: #388e3c;
    text-decoration: underline;
  }
  .toast-success {
    background-color: #4CAF50 !important;
    color: white !important;
  }
  
  .toast-error {
    background-color: #f44336 !important;
    color: white !important;
  }
  @media (max-width: 480px) {
    .container {
      padding: 15px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    input, button {
      font-size: 14px;
      padding: 10px;
    }
  
    .link a, .shortened-url a {
      font-size: 12px;
    }
  }